table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}


body {
    overflow: hidden;
}

th, td{
    height: 45px;
    width: 45px;
}

.main-body .heading{
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
}

.heading{
    padding: 10px;
    margin-bottom: 50px;
}

.center-side{
    margin-bottom: 20px;
    text-align: center;
    transform: translateY(-20px);
}

.center-side > h3 {
    margin: 0;
}

.player-side{
    display: inline-block;
    width: 49.5%;
    text-align: center;
    line-height: 0;
}

.boats_left{
    transform: translateY(-60px);
}

.player-board{
    text-align: center;
    display: inline-block;
    width: 49.5%;
    line-height: 0;
    transform: translateY(-120px);
}

.board-table{
    margin: 0 auto;
}

.board-item{
    background-color: transparent;
}

td.board-item:hover {
    background-color: #00008B;
    cursor: pointer;

}

td.board-itemE:hover {
    background-color: #8B0000;
    cursor: pointer;

}

.boat {
    background-color: gray;
    transform: translateY(-450px);
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    transform: translateY(-200px);
    font-size: 16px;
}

#state{
    margin-top: 20px;
    text-transform: uppercase;
    color:#ffffff;
    font: 20px Courier;
    display: block;
}

#number{
    transform: translateY(-700px);
    position: static;
}

#buttonReady {
    width: 150px;
    height: 50px;
    background-color: #668cff;
    border: none;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    display: block;
    margin: -20px;
    font-family: 'Courier New', Courier, monospace;
    outline: 0;
    position: relative;
  }

  #ready:hover {
    background-color: gray;
  }

  #ready:active {
    background-color: gray;
    box-shadow: 0 5px #666;
    transform: translate(0px, 4px);
  }

#buttonReadyWrapper{
    display: none;
}

#your_name, #other_name{
    color:#ffffff;
    font: 20px Courier;
    display: block;
    transform: translateY(-60px);
}

#hit{
    background-color: #990000;   
}

.destroyed{
    background-color: #990000;
}

.missed{
    background-color: #00008B;
}

#missed{
    background-color: #00008B;
}

.fourBoat{
    background-color: gray;
}

.threeBoat1{
    background-color: gray;
}

.threeBoat2{
    background-color: gray;
}

.twoBoat1{
    background-color: gray;
}

.twoBoat2{
    background-color: gray;
}

.twoBoat3{
    background-color: gray;
}

.oneBoat1{
    background-color: gray; 
}

.oneBoat2{
    background-color: gray; 
}

.oneBoat3{
    background-color: gray; 
}

.oneBoat4{
    background-color: gray; 
}

@media only screen and (max-width: 900px){
    .boat{
        transform: translateY(-20px);
    }

    #h4{
        transform: translateY(250px)
    }

    #number{
        transform: translateY(-280px)
    }

    body{
        overflow: visible;
    }

    .player-board{
        transform: translateY(-70px);
    }
}

.boat-item1:-webkit-full-screen{
    background-color: #990000;
}


