table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

body {
    overflow: hidden;
}

th, td{
    height: 45px;
    width: 45px;
}

.main-body .heading{
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
}

.heading{
    padding: 10px;
    margin-bottom: 50px;
}

.center-side{
    margin-bottom: 20px;
    text-align: center;
}

.center-side > h3 {
    margin: 0;
}

.player-side{
    display: inline-block;
    width: 49.5%;
    text-align: center;
    line-height: 0;
}

.player-board{
    text-align: center;
    display: inline-block;
    width: 49.5%;
    line-height: 0;
    transform: translateY(-40px);
}

.board-table{
    margin: 0 auto;
}

td.board-item:hover {
    background-color: #00008B;
    cursor: pointer;
    
}

.boat {
    background-color: gray;
    transform: translateY(-400px);
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    transform: translateY(-150px);
    font-size: 16px;
}
