table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}



th, td{
    height: 45px;
    width: 45px;
}

.main-body .heading{
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
}

.heading{
    padding: 10px;
    margin-bottom: 50px;
}

.center-side{
    margin-bottom: 20px;
    text-align: center;
}

.center-side > h3 {
    margin: 0;
}

.player-side{
    display: inline-block;
    width: 49.5%;
    text-align: center;
    line-height: 0;
}

.player-board{
    text-align: center;
    display: inline-block;
    width: 49.5%;
    line-height: 0;
    transform: translateY(-40px);
}

.board-table{
    margin: 0 auto;
}

td.board-item:hover {
    background-color: #00008B;
    cursor: pointer;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
    border-bottom: 25px solid transparent;
    transform: translate(720px, -350px);
    size: 1px;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #555;
    border-bottom: 25px solid transparent;
    transform: translate(630px, -400px);
    size: 1px;
}

.triangle-left:hover {
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #696969;
    border-bottom: 25px solid transparent;
    transform: translate(630px, -400px);
    size: 1px;
}

.triangle-right:hover {
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #696969;
    border-bottom: 25px solid transparent;
    transform: translate(720px, -350px);
    size: 1px;
}

.boat {
    background-color: gray;
    transform: translateY(-370px);
}
