body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 60px;
  animation: glow 1s ease-in-out infinite alternate;
}

h2 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 36px;
  transform: translate(0%, -90%);
  animation: glow 1s ease-in-out infinite alternate;
}

button {
  width: 300px;
  height: 80px;
  background-color: rgb(98, 122, 238);
  border: none;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  display: block;
  margin: 40px;
  font-family: 'Courier New', Courier, monospace;
  outline: 0;
}

button:hover {
  background-color: rgb(38, 51, 116);
}

button:active {
  background-color: rgb(38, 51, 116);
  box-shadow: 0 5px rgb(20, 27, 59);
  transform: translate(0px, 4px);
}

.par4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  width: 1000px;
}

.par1 {
  transform: translate(50px, -340px);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

.par2 {
  transform: translate(50px, -280px);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

.par3 {
  transform: translate(50px, -220px);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

@media only screen and (max-width: 900px){

  .par1{
    transform: translate(60px, 50px);
  }

  .par2 {
    transform: translate(60px, 100px);
  }

  .par3 {
    transform: translate(60px, 150px);
  }

  body{
    overflow: visible;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #382dd8, 0 0 40px #382dd8, 0 0 50px #382dd8, 0 0 60px #382dd8, 0 0 70px #382dd8;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4d6eff, 0 0 40px #4d6eff, 0 0 50px #4d6eff, 0 0 60px #4d6eff, 0 0 70px #4d6eff, 0 0 80px #4d6eff;
  }
}
