body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 36px;
  transform: translate(0%, -90%);
}

button {
  width: 300px;
  height: 80px;
<<<<<<< HEAD
  background-color: rgb(98, 122, 238);
=======
  background-color: #4554A3;
>>>>>>> 2d0e5f43d9ba22eb3ddbd62c1c55c9f7689134e7
  border: none;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  display: block;
  margin: 40px;
  font-family: 'Courier New', Courier, monospace;
  outline: 0;
}

button:hover {
  background-color: rgb(38, 51, 116);
}

button:active {
  background-color: #696969;
  box-shadow: 0 5px #666;
  transform: translate(0px, 4px);
}

.par4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  width: 1000px;
}

.par1 {
  transform: translate(50px, -340px);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

.par2 {
  transform: translate(50px, -280px);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

.par3 {
  transform: translate(50px, -220px);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

@media only screen and (max-width: 900px){

  .par1{
    transform: translate(60px, 50px);
  }

  .par2 {
    transform: translate(60px, 100px);
  }

  .par3 {
    transform: translate(60px, 150px);
  }

  body{
    overflow: visible;
  }
}
